
        <div class="mobile-fix-option"></div>
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="header-contact">
                            <ul>
                                <li>Welcome to Our store Multikart</li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i>Call Us: 123 - 456 - 7890</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 text-right">
                        <ul class="header-dropdown">
                            <li class="mobile-wishlist"><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            </li>
                            <li class="onhover-dropdown mobile-account"> <i class="fa fa-user" aria-hidden="true"></i>
                                My Account
                                <ul class="onhover-show-div">
                                    <li><a th:href="@{/dang-nhap}" data-lng="en">Login</a></li>
                                    <li><a href="" data-lng="es">Logout</a></li>
                                    <li><a th:href="@{/dang-ky}" data-lng="es">Register</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main-menu">
                        <div class="menu-left">
                            <div class="navbar">
                                <a href="javascript:void(0)" onclick="openNav()">
                                    <div class="bar-style"><i class="fa fa-bars sidebar-bar" aria-hidden="true"></i>
                                    </div>
                                </a>
                                <div id="mySidenav" class="sidenav">
                                    <a href="javascript:void(0)" class="sidebar-overlay" onclick="closeNav()"></a>
                                    <nav>
                                        <div onclick="closeNav()">
                                            <div class="sidebar-back text-left"><i class="fa fa-angle-left pr-2" aria-hidden="true"></i> Back</div>
                                        </div>
                                        <ul id="sub-menu" class="sm pixelstrap sm-vertical" data-smartmenus-id="1609494218029619">
                                            <li> <a href="#" class="has-submenu" id="sm-1609494218029619-1" aria-haspopup="true" aria-controls="sm-1609494218029619-2" aria-expanded="false">clothing<span class="sub-arrow"></span></a>
                                                <ul class="mega-menu clothing-menu" id="sm-1609494218029619-2" role="group" aria-hidden="true" aria-labelledby="sm-1609494218029619-1" aria-expanded="false">
                                                    <li>
                                                        <div class="row m-0">
                                                            <div class="col-xl-4">
                                                                <div class="link-section">
                                                                    <h5>women's fashion</h5>
                                                                    <ul>
                                                                        <li><a href="#">dresses</a></li>
                                                                        <li><a href="#">skirts</a></li>
                                                                        <li><a href="#">westarn wear</a></li>
                                                                        <li><a href="#">ethic wear</a></li>
                                                                        <li><a href="#">sport wear</a></li>
                                                                    </ul>
                                                                    <h5>men's fashion</h5>
                                                                    <ul>
                                                                        <li><a href="#">sports wear</a></li>
                                                                        <li><a href="#">western wear</a></li>
                                                                        <li><a href="#">ethic wear</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-4">
                                                                <div class="link-section">
                                                                    <h5>accessories</h5>
                                                                    <ul>
                                                                        <li><a href="#">fashion jewellery</a></li>
                                                                        <li><a href="#">caps and hats</a></li>
                                                                        <li><a href="#">precious jewellery</a></li>
                                                                        <li><a href="#">necklaces</a></li>
                                                                        <li><a href="#">earrings</a></li>
                                                                        <li><a href="#">wrist wear</a></li>
                                                                        <li><a href="#">ties</a></li>
                                                                        <li><a href="#">cufflinks</a></li>
                                                                        <li><a href="#">pockets squares</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-4">
                                                                <a href="#" class="mega-menu-banner"><img src="/images/mega-menu/fashion.jpg" alt="" class="img-fluid blur-up lazyload"></a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li> <a href="#" class="has-submenu" id="sm-1609494218029619-3" aria-haspopup="true" aria-controls="sm-1609494218029619-4" aria-expanded="false">bags<span class="sub-arrow"></span></a>
                                                <ul id="sm-1609494218029619-4" role="group" aria-hidden="true" aria-labelledby="sm-1609494218029619-3" aria-expanded="false">
                                                    <li><a href="#">shopper bags</a></li>
                                                    <li><a href="#">laptop bags</a></li>
                                                    <li><a href="#">clutches</a></li>
                                                    <li> <a href="#" class="has-submenu" id="sm-1609494218029619-5" aria-haspopup="true" aria-controls="sm-1609494218029619-6" aria-expanded="false">purses<span class="sub-arrow"></span></a>
                                                        <ul id="sm-1609494218029619-6" role="group" aria-hidden="true" aria-labelledby="sm-1609494218029619-5" aria-expanded="false">
                                                            <li><a href="#">purses</a></li>
                                                            <li><a href="#">wallets</a></li>
                                                            <li><a href="#">leathers</a></li>
                                                            <li><a href="#">satchels</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li> <a href="#" class="has-submenu" id="sm-1609494218029619-7" aria-haspopup="true" aria-controls="sm-1609494218029619-8" aria-expanded="false">footwear<span class="sub-arrow"></span></a>
                                                <ul id="sm-1609494218029619-8" role="group" aria-hidden="true" aria-labelledby="sm-1609494218029619-7" aria-expanded="false">
                                                    <li><a href="#">sport shoes</a></li>
                                                    <li><a href="#">formal shoes</a></li>
                                                    <li><a href="#">casual shoes</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">watches</a></li>
                                            <li> <a href="#" class="has-submenu" id="sm-1609494218029619-9" aria-haspopup="true" aria-controls="sm-1609494218029619-10" aria-expanded="false">Accessories<span class="sub-arrow"></span></a>
                                                <ul id="sm-1609494218029619-10" role="group" aria-hidden="true" aria-labelledby="sm-1609494218029619-9" aria-expanded="false">
                                                    <li><a href="#">fashion jewellery</a></li>
                                                    <li><a href="#">caps and hats</a></li>
                                                    <li><a href="#">precious jewellery</a></li>
                                                    <li> <a href="#" class="has-submenu" id="sm-1609494218029619-11" aria-haspopup="true" aria-controls="sm-1609494218029619-12" aria-expanded="false">more..<span class="sub-arrow"></span></a>
                                                        <ul id="sm-1609494218029619-12" role="group" aria-hidden="true" aria-labelledby="sm-1609494218029619-11" aria-expanded="false">
                                                            <li><a href="#">necklaces</a></li>
                                                            <li><a href="#">earrings</a></li>
                                                            <li><a href="#">wrist wear</a></li>
                                                            <li> <a href="#" class="has-submenu" id="sm-1609494218029619-13" aria-haspopup="true" aria-controls="sm-1609494218029619-14" aria-expanded="false">accessories<span class="sub-arrow"></span></a>
                                                                <ul id="sm-1609494218029619-14" role="group" aria-hidden="true" aria-labelledby="sm-1609494218029619-13" aria-expanded="false">
                                                                    <li><a href="#">ties</a></li>
                                                                    <li><a href="#">cufflinks</a></li>
                                                                    <li><a href="#">pockets squares</a></li>
                                                                    <li><a href="#">helmets</a></li>
                                                                    <li><a href="#">scarves</a></li>
                                                                    <li> <a href="#" class="has-submenu" id="sm-1609494218029619-15" aria-haspopup="true" aria-controls="sm-1609494218029619-16" aria-expanded="false">more...<span class="sub-arrow"></span></a>
                                                                        <ul id="sm-1609494218029619-16" role="group" aria-hidden="true" aria-labelledby="sm-1609494218029619-15" aria-expanded="false">
                                                                            <li><a href="#">accessory gift sets</a></li>
                                                                            <li><a href="#">travel accessories</a></li>
                                                                            <li><a href="#">phone cases</a></li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li><a href="#">belts &amp; more</a></li>
                                                            <li><a href="#">wearable</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="#">house of design</a></li>
                                            <li> <a href="#" class="has-submenu" id="sm-1609494218029619-17" aria-haspopup="true" aria-controls="sm-1609494218029619-18" aria-expanded="false">beauty &amp; personal care<span class="sub-arrow"></span></a>
                                                <ul id="sm-1609494218029619-18" role="group" aria-hidden="true" aria-labelledby="sm-1609494218029619-17" aria-expanded="false">
                                                    <li><a href="#">makeup</a></li>
                                                    <li><a href="#">skincare</a></li>
                                                    <li><a href="#">premium beaty</a></li>
                                                    <li> <a href="#" class="has-submenu" id="sm-1609494218029619-19" aria-haspopup="true" aria-controls="sm-1609494218029619-20" aria-expanded="false">more<span class="sub-arrow"></span></a>
                                                        <ul id="sm-1609494218029619-20" role="group" aria-hidden="true" aria-labelledby="sm-1609494218029619-19" aria-expanded="false">
                                                            <li><a href="#">fragrances</a></li>
                                                            <li><a href="#">luxury beauty</a></li>
                                                            <li><a href="#">hair care</a></li>
                                                            <li><a href="#">tools &amp; brushes</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="#">home &amp; decor</a></li>
                                            <li><a href="#">kitchen</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="brand-logo">
                                <a href="index.html"><img src="/images/icon/logo.png" class="img-fluid blur-up lazyloaded" alt=""></a>
                            </div>
                        </div>
                        <div class="menu-right pull-right">
                            <div>
                                <nav id="main-nav">
                                    <div class="toggle-nav"><i class="fa fa-bars sidebar-bar"></i></div>
                                    <ul id="main-menu" class="sm pixelstrap sm-horizontal" data-smartmenus-id="16094942180200576">
                                        <li>
                                            <div class="mobile-back text-right">Back<i class="fa fa-angle-right pl-2" aria-hidden="true"></i></div>
                                        </li>
                                        <li>
                                            <a href="#" class="has-submenu" id="sm-16094942180200576-1" aria-haspopup="true" aria-controls="sm-16094942180200576-2" aria-expanded="false">Home<span class="sub-arrow"></span></a>
                                            <ul id="sm-16094942180200576-2" role="group" aria-hidden="true" aria-labelledby="sm-16094942180200576-1" aria-expanded="false">
                                                <li>
                                                    <a href="#" class="has-submenu" id="sm-16094942180200576-3" aria-haspopup="true" aria-controls="sm-16094942180200576-4" aria-expanded="false">new demos <span class="new-tag">new</span><span class="sub-arrow"></span></a>
                                                    <ul id="sm-16094942180200576-4" role="group" aria-hidden="true" aria-labelledby="sm-16094942180200576-3" aria-expanded="false">
                                                        <li><a target="_blank" href="tools.html">tools</a></li>
                                                        <li><a target="_blank" href="marketplace-demo.html">marketplace</a></li>
                                                        <li><a target="_blank" href="game.html">game</a></li>
                                                        <li><a target="_blank" href="gym-product.html">gym</a></li>
                                                        <li><a target="_blank" href="marijuana.html">marijuana</a></li>
                                                        <li><a target="_blank" href="left_sidebar-demo.html">left
                                                                sidebar</a></li>
                                                        <li><a target="_blank" href="jewellery.html">jewellery</a></li>
                                                        <li><a target="_blank" href="pets.html">pets</a></li>
                                                        <li><a target="_blank" href="metro.html">metro</a></li>
                                                        <li><a target="_blank" href="video-slider.html">video slider</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#" class="has-submenu" id="sm-16094942180200576-5" aria-haspopup="true" aria-controls="sm-16094942180200576-6" aria-expanded="false">clothing<span class="sub-arrow"></span></a>
                                                    <ul id="sm-16094942180200576-6" role="group" aria-hidden="true" aria-labelledby="sm-16094942180200576-5" aria-expanded="false">
                                                        <li><a target="_blank" href="index.html">fashion 1</a></li>
                                                        <li><a target="_blank" href="fashion-2.html">fashion 2</a></li>
                                                        <li><a target="_blank" href="fashion-3.html">fashion 3</a></li>
                                                        <li><a target="_blank" href="kids.html">kids</a></li>
                                                    </ul>
                                                </li>
                                                <li><a target="_blank" href="watch.html">watch</a></li>
                                                <li><a target="_blank" href="shoes.html">shoes</a></li>
                                                <li>
                                                    <a href="#" class="has-submenu" id="sm-16094942180200576-7" aria-haspopup="true" aria-controls="sm-16094942180200576-8" aria-expanded="false">electronics<span class="sub-arrow"></span></a>
                                                    <ul id="sm-16094942180200576-8" role="group" aria-hidden="true" aria-labelledby="sm-16094942180200576-7" aria-expanded="false">
                                                        <li><a target="_blank" href="electronic-1.html">electronic 1</a>
                                                        </li>
                                                        <li><a target="_blank" href="electronic-2.html">electronic 2</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li><a target="_blank" href="bags.html">bags</a></li>
                                                <li><a target="_blank" href="nursery.html">nursery</a></li>
                                                <li><a target="_blank" href="flower.html">flower</a></li>
                                                <li><a target="_blank" href="vegetables.html">vegetable</a></li>
                                                <li><a target="_blank" href="beauty.html">beauty</a></li>
                                                <li><a target="_blank" href="light.html">light</a></li>
                                                <li><a target="_blank" href="furniture.html">furniture</a></li>
                                                <li><a target="_blank" href="goggles.html">googles</a></li>
                                                <li>
                                                    <a href="#" class="has-submenu" id="sm-16094942180200576-9" aria-haspopup="true" aria-controls="sm-16094942180200576-10" aria-expanded="false">basics<span class="sub-arrow"></span></a>
                                                    <ul id="sm-16094942180200576-10" role="group" aria-hidden="true" aria-labelledby="sm-16094942180200576-9" aria-expanded="false">
                                                        <li><a target="_blank" href="lookbook-demo.html">lookbook</a>
                                                        </li>
                                                        <li><a target="_blank" href="instagram-shop.html">instagram</a>
                                                        </li>
                                                        <li><a target="_blank" href="video.html">video</a></li>
                                                        <li><a target="_blank" href="parallax.html">parallax</a></li>
                                                        <li><a target="_blank" href="full-page.html">full page</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="has-submenu" id="sm-16094942180200576-11" aria-haspopup="true" aria-controls="sm-16094942180200576-12" aria-expanded="false">shop<span class="sub-arrow"></span></a>
                                            <ul id="sm-16094942180200576-12" role="group" aria-hidden="true" aria-labelledby="sm-16094942180200576-11" aria-expanded="false">
                                                <li><a th:href="@{/danh-sach-san-pham}">Product</a></li>
                                                <li><a href="category-page(right).html">right sidebar</a></li>
                                                <li><a href="category-page(no-sidebar).html">no sidebar</a></li>
                                                <li><a href="category-page(sidebar-popup).html">sidebar popup</a></li>
                                                <li><a href="category-page(metro).html">metro <span class="new-tag">new</span></a></li>
                                                <li><a href="category-page(full-width).html">full width <span class="new-tag">new</span></a></li>
                                                <li><a href="category-page(infinite-scroll).html">infinite scroll</a>
                                                </li>
                                                <li><a href="category-page(3-grid).html">3 grid</a></li>
                                                <li><a href="category-page(6-grid).html">6 grid</a></li>
                                                <li><a href="category-page(list-view).html">list view</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="has-submenu" id="sm-16094942180200576-13" aria-haspopup="true" aria-controls="sm-16094942180200576-14" aria-expanded="false">product<span class="sub-arrow"></span></a>
                                            <ul id="sm-16094942180200576-14" role="group" aria-hidden="true" aria-labelledby="sm-16094942180200576-13" aria-expanded="false">
                                                <li>
                                                    <a href="#" class="has-submenu" id="sm-16094942180200576-15" aria-haspopup="true" aria-controls="sm-16094942180200576-16" aria-expanded="false">sidebar<span class="sub-arrow"></span></a>
                                                    <ul id="sm-16094942180200576-16" role="group" aria-hidden="true" aria-labelledby="sm-16094942180200576-15" aria-expanded="false">
                                                        <li><a href="product-page.html">left sidebar</a></li>
                                                        <li><a href="product-page(right-sidebar).html">right sidebar</a>
                                                        </li>
                                                        <li><a href="product-page(no-sidebar).html">no sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#" class="has-submenu" id="sm-16094942180200576-17" aria-haspopup="true" aria-controls="sm-16094942180200576-18" aria-expanded="false">thumbnail image<span class="sub-arrow"></span></a>
                                                    <ul id="sm-16094942180200576-18" role="group" aria-hidden="true" aria-labelledby="sm-16094942180200576-17" aria-expanded="false">
                                                        <li><a href="product-page(left-image).html">left image</a></li>
                                                        <li><a href="product-page(right-image).html">right image</a>
                                                        </li>
                                                        <li><a href="product-page(image-outside).html">image outside
                                                                <span class="new-tag">new</span></a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#" class="has-submenu" id="sm-16094942180200576-19" aria-haspopup="true" aria-controls="sm-16094942180200576-20" aria-expanded="false">3 column<span class="sub-arrow"></span></a>
                                                    <ul id="sm-16094942180200576-20" role="group" aria-hidden="true" aria-labelledby="sm-16094942180200576-19" aria-expanded="false">
                                                        <li><a href="product-page(3-col-left).html">thumbnail left</a>
                                                        </li>
                                                        <li><a href="product-page(3-col-right).html">thumbnail right</a>
                                                        </li>
                                                        <li><a href="product-page(3-column).html">thubnail bottom</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li><a href="product-page(4-image).html">4 image <span class="new-tag">new</span></a></li>
                                                <li><a href="product-page(sticky).html">sticky</a></li>
                                                <li><a href="product-page(accordian).html">accordian</a></li>
                                                <li><a href="product-page(bundle).html">bundle<span class="new-tag">new</span></a></li>
                                                <li><a href="product-page(image-swatch).html">image swatch <span class="new-tag">new</span></a></li>
                                                <li><a href="product-page(vertical-tab).html">vertical tab</a></li>
                                            </ul>
                                        </li>
                                        <li style="width: 400px">
                                        <div style="padding-top: 36px" class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroupPrepend">
                                                    <img src="images/icon/search.png"
                                                         class="img-fluid blur-up lazyload" alt="">
                                                </span>
                                            </div>
                                            <input style="display: block" width="500px" type="text" class="form-control" id="search" placeholder="Nhập từ khóa tìm kiếm">
                                            <div id="result" style="display: block;width:600px;position:absolute;margin-top:50px;background-color:white;z-index: 9999;height: 350px;overflow-y: auto"></div>
                                        </div>
                                    </li>
                                        
                            
                                    </ul>
                                </nav>
                            </div>
                            <div>
                                <div class="icon-nav">
                                    <ul>
                                        <li class="onhover-div mobile-search">
                                            <div><img src="/images/icon/search.png" onclick="openSearch()" class="img-fluid blur-up lazyloaded" alt=""> <i class="ti-search" onclick="openSearch()"></i></div>
                                            <div id="search-overlay" class="search-overlay">
                                                <div> <span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
                                                    <div class="overlay-content">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-xl-12">
                                                                    <form>
                                                                        <div class="form-group">
                                                                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Search a Product">
                                                                        </div>
                                                                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="onhover-div mobile-cart">
                                            <div><img src="/images/icon/cart.png" class="img-fluid blur-up lazyloaded" alt=""> <i class="ti-shopping-cart"></i></div>
                                            <ul class="show-div shopping-cart">
                                                <li th:each="cart : ${session.listCarts}">
                                                    <div class="media">
                                                        <a href="#"><img alt="" class="mr-3" src="/images/fashion/product/1.jpg"></a>
                                                        <div class="media-body" >
                                                            <a href="#">
                                                                <h4 th:text="${cart.name}"></h4>
                                                            </a>
                                                            <h4><span th:text="${cart.quantity} + 'x' +  ${cart.price}"></span></h4>
                                                        </div>
                                                    </div>
                                                    <div class="close-circle"><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></div>
                                                </li>
                                                
                                                <li>
                                                    <div class="total">
                                                        <h5>subtotal : <span>$299.00</span></h5>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="buttons"><a href="cart.html" class="view-cart">view
                                                            cart</a> <a href="#" class="checkout">checkout</a></div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
